<h2> 3.6 Featurizing text data with tfidf weighted word-vectors </h2>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import re
import time
import warnings
import numpy as np
from nltk.corpus import stopwords
from sklearn.preprocessing import normalize
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
warnings.filterwarnings("ignore")
import sys
import os 
import pandas as pd
import numpy as np
from tqdm import tqdm

# exctract word2vec vectors
# https://github.com/explosion/spaCy/issues/1721
# http://landinghub.visualstudio.com/visual-cpp-build-tools
import spacy

In [4]:
cd  "/content/drive/MyDrive/DataScience\MachineLearning"

/content/drive/MyDrive/DataScience\MachineLearning

In [5]:
# avoid decoding problems
df = pd.read_csv("train.csv")
 
# encode questions to unicode
# https://stackoverflow.com/a/6812069
# ----------------- python 2 ---------------------
# df['question1'] = df['question1'].apply(lambda x: unicode(str(x),"utf-8"))
# df['question2'] = df['question2'].apply(lambda x: unicode(str(x),"utf-8"))
# ----------------- python 3 ---------------------
df['question1'] = df['question1'].apply(lambda x: str(x))
df['question2'] = df['question2'].apply(lambda x: str(x))

In [6]:
df.head()

   id  qid1  ...                                          question2 is_duplicate
0   0     1  ...  What is the step by step guide to invest in sh...            0
1   1     3  ...  What would happen if the Indian government sto...            0
2   2     5  ...  How can Internet speed be increased by hacking...            0
3   3     7  ...  Find the remainder when [math]23^{24}[/math] i...            0
4   4     9  ...            Which fish would survive in salt water?            0

[5 rows x 6 columns]

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
# merge texts
questions = list(df['question1']) + list(df['question2'])

tfidf = TfidfVectorizer(lowercase=False, )
tfidf.fit_transform(questions)

# dict key:word and value:tf-idf score
word2tfidf = dict(zip(tfidf.get_feature_names(), tfidf.idf_))

- After we find TF-IDF scores, we convert each question to a weighted average of word2vec vectors by these scores.
- here we use a pre-trained GLOVE model which comes free with "Spacy".  https://spacy.io/usage/vectors-similarity
- It is trained on Wikipedia and therefore, it is stronger in terms of word semantics.

In [8]:
# en_vectors_web_lg, which includes over 1 million unique vectors.
nlp = spacy.load('en_core_web_sm')

vecs1 = []
# https://github.com/noamraph/tqdm
# tqdm is used to print the progress bar
for qu1 in tqdm(list(df['question1'])):
    doc1 = nlp(qu1) 
    # 384 is the number of dimensions of vectors 
    mean_vec1 = np.zeros([len(doc1), len(doc1[0].vector)])
    for word1 in doc1:
        # word2vec
        vec1 = word1.vector
        # fetch df score
        try:
            idf = word2tfidf[str(word1)]
        except:
            idf = 0
        # compute final vec
        mean_vec1 += vec1 * idf
    mean_vec1 = mean_vec1.mean(axis=0)
    vecs1.append(mean_vec1)
df['q1_feats_m'] = list(vecs1)

100%|██████████| 404290/404290 [1:05:21<00:00, 103.10it/s]

In [14]:
vecs2 = []
for qu2 in tqdm(list(df['question2'])):
    doc2 = nlp(qu2) 
    mean_vec2 = np.zeros([len(doc1), len(doc2[0].vector)])
    for word2 in doc2:
        # word2vec
        vec2 = word2.vector
        # fetch df score
        try:
            idf = word2tfidf[str(word2)]
        except:
            #print word
            idf = 0
        # compute final vec
        mean_vec2 += vec2 * idf
    mean_vec2 = mean_vec2.mean(axis=0)
    vecs2.append(mean_vec2)
df['q2_feats_m'] = list(vecs2)

100%|██████████| 404290/404290 [1:05:56<00:00, 102.19it/s]

In [15]:
#prepro_features_train.csv (Simple Preprocessing Feartures)
#nlp_features_train.csv (NLP Features)
if os.path.isfile('nlp_features_train.csv'):
    dfnlp = pd.read_csv("nlp_features_train.csv",encoding='latin-1')
else:
    print("download nlp_features_train.csv from drive or run previous notebook")

if os.path.isfile('df_fe_without_preprocessing_train.csv'):
    dfppro = pd.read_csv("df_fe_without_preprocessing_train.csv",encoding='latin-1')
else:
    print("download df_fe_without_preprocessing_train.csv from drive or run previous notebook")

In [16]:
df1 = dfnlp.drop(['qid1','qid2','question1','question2'],axis=1)
df2 = dfppro.drop(['qid1','qid2','question1','question2','is_duplicate'],axis=1)
df3 = df.drop(['qid1','qid2','question1','question2','is_duplicate'],axis=1)
df3_q1 = pd.DataFrame(df3.q1_feats_m.values.tolist(), index= df3.index)
df3_q2 = pd.DataFrame(df3.q2_feats_m.values.tolist(), index= df3.index)

In [17]:
# dataframe of nlp features
df1.head()

   id  is_duplicate  ...  fuzz_partial_ratio  longest_substr_ratio
0   0             0  ...                 100              0.982759
1   1             0  ...                  75              0.596154
2   2             0  ...                  47              0.166667
3   3             0  ...                  14              0.039216
4   4             0  ...                  56              0.175000

[5 rows x 17 columns]

In [18]:
# data before preprocessing 
df2.head()

   id  freq_qid1  freq_qid2  ...  word_share  freq_q1+q2  freq_q1-q2
0   0          1          1  ...    0.434783           2           0
1   1          4          1  ...    0.200000           5           3
2   2          1          1  ...    0.166667           2           0
3   3          1          1  ...    0.000000           2           0
4   4          3          1  ...    0.100000           4           2

[5 rows x 12 columns]

In [19]:
# Questions 1 tfidf weighted word2vec
df3_q1.head()

          0          1          2   ...          93          94         95
0  -6.179507  37.450731 -67.929894  ...  116.269999   60.515897 -12.245916
1   9.236668 -80.371416 -45.785907  ...  129.377781  115.868467   4.383543
2  97.546829  22.972195 -39.558378  ...   78.591986  105.714348 -33.304161
3  57.586999 -22.017088  -4.599304  ...   95.054238  -34.157566  70.821932
4  83.185784 -40.506985 -83.403923  ...  208.424382  286.930889  68.027638

[5 rows x 96 columns]

In [20]:
# Questions 2 tfidf weighted word2vec
df3_q2.head()

           0          1           2   ...          93          94         95
0  -14.616981  59.755488  -53.263745  ...   99.282776   50.791731 -17.566246
1   -3.565742 -16.844571 -130.911785  ...  194.269546  128.207803  55.490061
2  156.833630  59.991896   -8.414311  ...   19.922719   21.266690  49.574858
3   41.472439  56.717317   31.530616  ...  -14.231000    4.772115   7.711628
4  -14.446975  -4.338255  -70.196208  ...   22.118795   68.802072  21.025373

[5 rows x 96 columns]

In [21]:
print("Number of features in nlp dataframe :", df1.shape[1])
print("Number of features in preprocessed dataframe :", df2.shape[1])
print("Number of features in question1 w2v  dataframe :", df3_q1.shape[1])
print("Number of features in question2 w2v  dataframe :", df3_q2.shape[1])
print("Number of features in final dataframe  :", df1.shape[1]+df2.shape[1]+df3_q1.shape[1]+df3_q2.shape[1])

Number of features in nlp dataframe : 17
Number of features in preprocessed dataframe : 12
Number of features in question1 w2v  dataframe : 96
Number of features in question2 w2v  dataframe : 96
Number of features in final dataframe  : 221

In [22]:
# storing the final features to csv file
if not os.path.isfile('final_features.csv'):
    df3_q1['id']=df1['id']
    df3_q2['id']=df1['id']
    df1  = df1.merge(df2, on='id',how='left')
    df2  = df3_q1.merge(df3_q2, on='id',how='left')
    result  = df1.merge(df2, on='id',how='left')
    result.to_csv('final_features.csv')

Word2Vec Features

In [17]:
# en_vectors_web_lg, which includes over 1 million unique vectors.
nlp = spacy.load('en_core_web_sm')

vecs1 = []
question1_vectors = np.zeros((df.shape[0], 96))
error_count = 0
# https://github.com/noamraph/tqdm
# tqdm is used to print the progress bar
for i,qu1 in tqdm(enumerate(list(df['question1']))):
    doc1 = nlp(qu1) 
    
    M = []
    for word1 in doc1:
        # word2vec
        try:
            vec1 = word1.vector 
            M.append(vec1)
        except:
            continue
        # compute final vec
    M = np.array(M)
    v = M.sum(axis=0)
    #mean_vec1 = v / np.sqrt((v ** 2).sum())
    question1_vectors[i, :] = v / np.sqrt((v ** 2).sum())

404290it [1:06:18, 101.63it/s]

In [18]:
# en_vectors_web_lg, which includes over 1 million unique vectors.
nlp = spacy.load('en_core_web_sm')

vecs1 = []
question2_vectors = np.zeros((df.shape[0], 96))
error_count = 0
# https://github.com/noamraph/tqdm
# tqdm is used to print the progress bar
for i,qu1 in tqdm(enumerate(list(df['question2']))):
    doc1 = nlp(qu1) 
    
    M = []
    for word1 in doc1:
        # word2vec
        try:
            vec1 = word1.vector 
            M.append(vec1)
        except:
            continue
        # compute final vec
    M = np.array(M)
    v = M.sum(axis=0)
    #vecs1.append(mean_vec1)
    question2_vectors[i, :] =  v / np.sqrt((v ** 2).sum())
#df['q2_w2v'] = list(vecs1)

404290it [1:07:26, 99.90it/s]

In [31]:
df.head(10)

   id  qid1  ...                                          question2 is_duplicate
0   0     1  ...  What is the step by step guide to invest in sh...            0
1   1     3  ...  What would happen if the Indian government sto...            0
2   2     5  ...  How can Internet speed be increased by hacking...            0
3   3     7  ...  Find the remainder when [math]23^{24}[/math] i...            0
4   4     9  ...            Which fish would survive in salt water?            0
5   5    11  ...  I'm a triple Capricorn (Sun, Moon and ascendan...            1
6   6    13  ...  What keeps childern active and far from phone ...            0
7   7    15  ...          What should I do to be a great geologist?            1
8   8    17  ...              When do you use "&" instead of "and"?            0
9   9    19  ...  How do I hack Motorola DCX3400 for free internet?            0

[10 rows x 6 columns]

In [19]:
data_wordvec = pd.DataFrame()

In [21]:
from scipy.spatial.distance import cosine, cityblock, jaccard, canberra, euclidean, minkowski, braycurtis
data_wordvec['cosine_distance'] = [cosine(x, y) for (x, y) in zip(np.nan_to_num(question1_vectors),
                                                          np.nan_to_num(question2_vectors))]

In [32]:
data_wordvec['minkowski_distance'] = [minkowski(x, y, 3) for (x, y) in zip(np.nan_to_num(question1_vectors),
                                                          np.nan_to_num(question2_vectors))]
                                                          
data_wordvec['jaccard_distance'] = [jaccard(x, y) for (x, y) in zip(np.nan_to_num(question1_vectors),
                                                          np.nan_to_num(question2_vectors))]
data_wordvec['euclidean_distance'] = [euclidean(x, y) for (x, y) in zip(np.nan_to_num(question1_vectors),
                                                          np.nan_to_num(question2_vectors))]      
data_wordvec['canberra_distance'] = [canberra(x, y) for (x, y) in zip(np.nan_to_num(question1_vectors),
                                                          np.nan_to_num(question2_vectors))]

In [33]:
data_wordvec.head(10)

   cosine_distance  minkowski_distance  ...  euclidean_distance  canberra_distance
0         0.035691            0.148922  ...            0.267174          25.291822
1         0.196881            0.337001  ...            0.627505          38.468346
2         0.283908            0.415039  ...            0.753536          46.469070
3         0.903092            0.720832  ...            1.343944          69.049830
4         0.307654            0.431272  ...            0.784416          47.658501
5         0.203823            0.362399  ...            0.638471          42.253442
6         0.722274            0.656647  ...            1.201893          60.691695
7         0.211670            0.358418  ...            0.650645          41.839679
8         0.526697            0.566776  ...            1.026350          58.062162
9         0.361918            0.469959  ...            0.850785          50.338205

[10 rows x 5 columns]

In [35]:
data_wordvec.to_csv("Distance_Features.csv", index=False)

In [17]:
df.to_csv("w2v_features.csv", index=False)

In [ ]:
def sent2vec(s):
    words = str(s).lower().decode('utf-8')
    words = word_tokenize(words)
    words = [w for w in words if not w in stop_words]
    words = [w for w in words if w.isalpha()]
    M = []
    for w in words:
        try:
            M.append(model[w])
        except:
            continue
    M = np.array(M)
    v = M.sum(axis=0)
    return v / np.sqrt((v ** 2).sum())

In [ ]:
model = gensim.models.KeyedVectors.load_word2vec_format('data/GoogleNews-vectors-negative300.bin.gz', binary=True)

In [ ]:
for i, q in tqdm(enumerate(data.question1.values)):
    question1_vectors[i, :] = sent2vec(q)

question2_vectors  = np.zeros((data.shape[0], 96))
for i, q in tqdm(enumerate(data.question2.values)):
    question2_vectors[i, :] = sent2vec(q)